<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.ancit.examples.emf.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.ancit.examples.emf.ui.Perspective"
            id="org.ancit.examples.emf.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.ancit.examples.emf.ui.application"
            name="EMF Examples">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png,icons/eclipse512.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.ancit.examples.emf.ui.views.EMFView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.3f"
               relationship="right"
               relative="org.ancit.examples.emf.ui.views.EMFView">
         </view>
         <view
               id="org.ancit.examples.emf.ui.views.EMFTableView"
               minimized="false"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ancit.examples.emf.ui.views.EMFView"
            id="org.ancit.examples.emf.ui.views.EMFView"
            name="EMF View"
            restorable="true">
      </view>
      <view
            class="org.ancit.examples.emf.ui.views.EMFTableView"
            id="org.ancit.examples.emf.ui.views.EMFTableView"
            name="EMF Table View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.ancit.examples.emf.ui.validationCategory"
            name="AddressBook Validation">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://addressbook/1.0">
         </package>
         <constraints
               categories="org.ancit.examples.emf.ui.validationCategory">
            <constraint
                  class="org.ancit.examples.emf.ui.validations.NonEmptyNameConstraint"
                  id="org.ancit.examples.emf.ui.NameNotEmpty"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Non Empty Name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Object {0} doesnt have a name.
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="org.ancit.examples.emf.ui.addressbookContext">
         <enablement>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </enablement>
      </clientContext>
      <binding
            context="org.ancit.examples.emf.ui.addressbookContext">
         <category
               ref="org.ancit.examples.emf.ui.validationCategory">
         </category>
      </binding>
   </extension>
   <extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext
            id="org.ancit.examples.emf.ui.addressbookContext">
      </clientContext>
   </extension>

</plugin>
